header {
  margin: 5vh 0;
}

article {
  margin-top: 5vh;
}

@keyframes alert {
  0% {
    background-color: lightyellow;
  }
  100% {
    background-color: yellow;
  }
  
}

article > .ui.items > .item {
  height: 13em;
}

article > .ui.items > .item.on-alert {
  animation: alert 3s ease-in alternate infinite;
}

article > .ui.items > .item .floated.list {
  margin-right: 5em;
}